amqp==5.1.1
appnope==0.1.0
asttokens==2.2.1
backcall==0.2.0
beautifulsoup4==4.12.2
billiard==3.6.4.0
celery==5.2.7
certifi==2017.4.17
chardet==3.0.4
charset-normalizer==2.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
decorator==4.0.11
demjson3==3.0.6
executing==1.2.0
greenlet==2.0.2
html2text==2016.9.19
html5lib==1.0.1
idna==2.5
ipdb==0.10.3
ipython==7.34.0
ipython-genutils==0.2.0
jedi==0.18.2
kombu==5.2.4
lxml==4.9.2
matplotlib-inline==0.1.6
parso==0.8.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.5.0
pipdeptree==1.0.0
playwright==1.35.0
prompt-toolkit==3.0.38
ptyprocess==0.5.2
pure-eval==0.2.2
pycodestyle==2.6.0
pyee==9.0.4
Pygments==2.15.1
PySocks==1.6.7
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
selenium==3.141.0
selenium-wire==1.2.3
simplegeneric==0.8.1
six==1.10.0
soupsieve==2.4.1
stack-data==0.6.2
tomli==2.0.1
traitlets==5.9.0
typing-extensions==4.7.1
urllib3==1.26.16
validators==0.12.0
vine==5.0.0
wcwidth==0.1.7
webencodings==0.5.1
